// Jumbotron, ie the big blue thing at the top
.banner {
	background-color: $color-main;
	background-position: center;
	background-size: cover;
	height: $header-height;

	// Navigation at the top
	nav {
		@include container;

		height: $nav-height;
		border-bottom: 1px solid rgba(255, 255, 255, .2);
		vertical-align: center;

		h1 {
			padding-left: 0;
			float: left;
		}

		.nav-opener {
			position: absolute;
			top: 0;
			right: 0;
			display: none;
			font-size: 2em;

			@include media($tablet) {
				display: inline;
			}
		}

		.nav-open {
			display: block;
		}

		ul {
			@include media($tablet) {
				display: none;
				position: absolute;
				top: $nav-height;
				left: 0;
				width: 100%;
			}

			li {
				display: inline;
				padding: 0 1em;

				@include media($tablet) {
					display: block;
					padding: 0;

					a {
						@include container;
						display: block;
						line-height: 3em;
						border-bottom: 1px solid rgba(255, 255, 255, .2);
						background-color: rgba(0, 0, 0, .3);
					}
				}
			}
		}

		a {
			line-height: $nav-height;
			color: $nav-text-color;
			font-weight: bold;
			font-size: 1.15em;
			letter-spacing: .1em;
			text-decoration: none;
			text-transform: uppercase;

			@include media($tablet) {
				font-size: 1.0em;
			}
		}

		h1 {
			font-size: 1.35em;

			@include media($tablet) {
				font-size: 1.15em;
			}
		}
	}

	// Header 
	section {
		@include container;
		color: $color-accent;

		h2 {
			@include span-columns(12);

			padding-top: 50px;
			font-weight: 200;
			font-size: 3em;
			line-height: 1em;
		}

		article {
			@include span-columns(6);
			@include media($small-desktop) {
				@include span-columns(12);
			}

			p {
				font-size: 1.2em;
				line-height: 1.25em;
				margin: 1em 0;
			}

			.button {
				display: inline-block;
				border-radius: 2px;
				padding: .85em 1em;
				margin-right: 1em;
				text-decoration: none;
				color: $color-accent;
				border: 1px solid $color-accent;
			}

			.button-main {
				@extend .button;
				color: $color-main;
				background-color: $color-accent;
				font-weight: bold;
			}
		}
	}
}

.home {
	height: $header-large-height;
	background-image: url('../images/banners/boat.jpg');

	section h2 {
		padding-top: 150px;
	}
}

.list {
	background-image: url('../images/banners/baja.jpg');
}
