// TODO: move these out of this file
$engr-header-padding-base: 2 * $grid-gutter-width;
$engr-header-padding-large: 2 * $engr-header-padding-base;
$engr-header-font-multiplier: 1.5;

.engr-header {
	// Account for the navbar which is absolutely positioned
	padding-top: $navbar-height + $engr-header-padding-base;
	padding-bottom: $engr-header-padding-base;
	margin-bottom: $grid-gutter-width;

	background-color: $brand-primary;
	background-position: center;
	background-size: cover;

	color: $brand-secondary;

	-webkit-font-smoothing: antialiased;

	h2 {
		font-size: $engr-header-font-multiplier * $font-size-h2;
		font-family: $header-font-family;
		font-weight: lighter;
	}

	p {
		font-size: $engr-header-font-multiplier * $font-size-base;
	}

	.btn-lg {
		font-size: $engr-header-font-multiplier * $font-size-base;
	}

	.engr-btn-header {
		color: $brand-primary;
		background-color: $brand-secondary;
		border-color: $brand-secondary;
	}

	.engr-btn-header-outline {
		color: $brand-secondary;
		background-color: transparent;
		border-color: $brand-secondary;
	}
}

.engr-header-list {
	background-image: url('../images/banners/baja.jpg');
}

.engr-header-home {
	padding-top: $navbar-height + $engr-header-padding-large;
	padding-bottom: $engr-header-padding-large;
	background-image: url('../images/banners/boat.jpg');
}
