// TODO: move these out of this file
$engr-header-padding-large: 5 * $jumbotron-padding;

.engr-jumbotron {
	@extend .jumbotron;
	// Account for the navbar which is absolutely positioned
	padding-top: $navbar-height + $jumbotron-padding;
	margin-bottom: $grid-gutter-width;

	background-position: center;
	background-size: cover;

	-webkit-font-smoothing: antialiased;

	h1 {
		font-family: $header-font-family;
		font-weight: lighter;
	}

	.btn-lg {
		font-size: $jumbotron-font-size;
	}

	.engr-btn-header {
		color: $brand-primary;
		background-color: $brand-secondary;
		border-color: $brand-secondary;
	}

	.engr-btn-header-outline {
		color: $brand-secondary;
		background-color: transparent;
		border-color: $brand-secondary;
	}
}

.engr-jumbotron-home {
	padding-top: $navbar-height + $engr-header-padding-large;
	padding-bottom: $engr-header-padding-large;
	background-image: url('../images/banners/boat.jpg');
}

.engr-jumbotron-list {
	background-image: url('../images/banners/baja.jpg');
}

.engr-jumbotron-about {
	background-image: url('../images/banners/bridge.jpg');
}
