// Neat default overrides
$max-width: 1140px;
$gutter: 4em;

// Colors
$color-main: #1b5d9e;
$color-accent: #eae848;
$color-text: #2d2f31;
$color-light: #616153;

// Navigation and header
$nav-text-color: white;
$nav-height: 70px;
$header-large-height: 650px;
$header-height: 280px;
