@import "compass/reset";
@import "compass/utilities/general/clearfix";
@import "compass/css3/transition";
@import "breakpoint";
@import "susy";

@import "partials/variables";

@include border-box-sizing;

@mixin guttered-container() {
	@include container;
	padding-left: $content-padding;
	padding-right: $content-padding;
}

@mixin padded-container() {
	@include guttered-container;
	padding-top: 50px;
	padding-bottom: 50px;
}

@mixin header-font() {
	font-family: $header-font-family;
	-webkit-font-smoothing: antialiased;
}

@import "partials/typography";

@import "partials/toolbar";
@import "partials/hero-unit";
@import "partials/footer";

@import "partials/blurbs";
@import "partials/list";