@import "reset";
@import "bourbon/bourbon"; // or "bourbon" when in Rails
@import "variables";
@import "neat/neat"; // or "neat" when in Rails

body {
	font-family: "oceania";
	font-size: 16px;
	line-height: 1.25em;
	color: $color-text;
}

// A row in the grid system. Sometimes this is just necessary
.row {
	@include outer-container;
}

h3 {
	color: $color-main;
	font-weight: bold;
	font-size: 1.25em;
	line-height: 1em;
}

p {
	margin: .5em 0;
}

@import "banner";
@import "blurbs";