// customize bootstrap variables here:
@import "compass/reset";
@import "variables";
@import "bootstrap";

.engr-navbar-absolute-top {
	@extend .navbar-fixed-top;
	position: absolute;
}

.engr-navbar {
	@extend .navbar-inverse;
	background-color: rgba($brand-primary, 0.0);  // Output RGBA for JS
	border-color: rgba(255, 255, 255, 0.2);

	font-family: $header-font-family;
	text-transform: uppercase;
	letter-spacing: .1em;
	font-size: 1.1em;

	-webkit-font-smoothing: antialiased;

	.navbar-collapse {
		border-color: rgba(255, 255, 255, 0.2);
	}

	.navbar-brand {
		color: white;
		font-family: "Syncopate", sans-serif;
		font-weight: lighter;
	}

	.navbar-nav {
		> li > a {
			color: white;
			font-weight: normal;

			&:hover,
			&:focus {
				color: $brand-secondary;
				background-color: transparent;
			}
		}
		> .active > a {
			&,
			&:hover,
			&:focus {
				font-weight: bold;
				color: $brand-secondary;
				background-color: transparent;
			}
		}
		> .disabled > a {
			&,
			&:hover,
			&:focus {
				color: rgba($brand-secondary, 0.5);
				background-color: transparent;
			}
		}
	}

	.navbar-toggle {
		border-color: rgba(255, 255, 255, 0.2);
		&:hover,
		&:focus {
			background-color: rgba(255, 255, 255, 0.2);
		}
		.icon-bar {
			background-color: white;
		}
	}

}

.engr-header {
	$engr-header-padding: 4 * $grid-gutter-width;
	$engr-header-font-multiplier: 1.5;

	padding-top: $navbar-height + $engr-header-padding;
	padding-bottom: $engr-header-padding;
	margin-bottom: $grid-gutter-width;

	background-color: $brand-primary;
	background-position: center;
	background-size: cover;

	color: $brand-secondary;

	-webkit-font-smoothing: antialiased;

	h2 {
		font-size: $engr-header-font-multiplier * $font-size-h2;
		font-family: $header-font-family;
		font-weight: lighter;
	}

	p {
		font-size: $engr-header-font-multiplier * $font-size-base;
	}

	.btn-lg {
		font-size: $engr-header-font-multiplier * $font-size-base;
	}

	.engr-btn-header {
		color: $brand-primary;
		background-color: $brand-secondary;
		border-color: $brand-secondary;
	}

	.engr-btn-header-outline {
		color: $brand-secondary;
		background-color: transparent;
		border-color: $brand-secondary;
	}

}

.engr-blurbs {
	text-align: center;

	p {
		text-align: left;
	}

	.engr-blurbs-icon {
		background-color: $brand-primary;
		border-radius: 100px;
		padding: 20px;

		font-size: 3em;
		color: white;
		text-shadow: darken($brand-primary, 10%) 2px 2px;
	}

	.row {
		margin-bottom: $grid-gutter-width;
	}
}

.engr-header-home {
	background-image: url('../images/banners/boat.jpg');
}
