@mixin header-font() {
	font-family: $header-font-family;
	-webkit-font-smoothing: antialiased;
}

body {
	font: $base-font-size $base-font-family;
	color: $color-text;
	line-height: $base-line-height;
}

a {
	color: $color-main;
	text-decoration: none;
}

strong {
	font-weight: bold;
}

h3 {
	@include header-font;
	color: $color-main;
	font-size: 1.15em;
	font-weight: bold;
}
