<div class="engr-jumbotron engr-jumbotron">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Create New User</h1>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= render 'form', :create => true %>
    <%= button_to 'Back', clubs_path, :class => 'btn btn-primary', :method => :get  %>
  </div>
</div>