<div class="engr-jumbotron engr-jumbotron-about">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>About student organizations</h1>
        <p>
          How joining clubs and projects will enrich your college experience at UCLA.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="engr-content">
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <h3>What is a student organization?</h3>
        <p>
          One of the integral parts to life within UCLA and UCLA Engineering
          is participation in student groups/organizations. There are over 30
          student groups, and several hundred students help serve and lead these groups.
          Each student group has its own demographics and purposes. However, all
          of them combine to provide the best possible experience for every
          student here at UCLA.
        </p>
        <p>
          Student organizations present a unique opportunity for students because
          they are entirely student run with only advisory support from faculty.
          As a result, many of the activities hosted by student organizations are
          created from the standpoint of a student rather than the school.
        </p>
        <p>
          They range in size and purpose: from a few individuals to several hundred,
          from community service engineering groups to honor societies. No matter your
          interest or personality, there is a student organization that would love to
          have you!
        </p>
      </div>

      <div class="col-md-6">
        <h3>Why join a student organization?</h3>
        <p>
          With a lot of coursework and plenty of other activities available on
          campus, participating in student organizations may appear to be the last
          thing on your mind. However, participating in student organizations
          provide many benefits at the same time. They include:
        </p>
        <ul>
          <li>Diversified experience to put on your resume</li>
          <li>Creation of a network of talented individuals</li>
          <li>Opportunities to meet with companies</li>
          <li>Change to improve UCLA Engineering</li>
        </ul>
        <p>
          Throughout the entire nation, students are earning engineering degrees
          from several great universities. With their education, they are qualified
          to solve almost any technical issue thrown at them. As a result, many
          companies are beginning to look at the non-technical skill sets of their
          candidates, which aren't usually taught in a classroom. That is where participation
          in student organizations can be highly beneficial. They provide the chance
          to develop skills such as public speaking, management, and teamwork that
          are just as necessary to succeed in the real world. Furthermore, companies
          understand the talent found in student organization leadership and go to them
          first for talent. So find one that fits your desires and try it out!
        </p>
      </div>

    </div>

    <hr>

    <div class="row">
      <div class="col-md-12">
        <h3>Frequently Asked Questions</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <h4>How do I join a club?</h4>
        <p>Each club has their own methods of membership. Some require dues, others do not. For more details, visit their profile by clicking their name on this list of groups.</p>
      </div>
      <div class="col-md-6">
        <h4>How do I join a club?</h4>
        <p>Each club and each position within each club has their own time commitment. Before committing to a leadership position within any club, ask current officers within that club about the time commitment for the position that you are interested in.</p>
      </div>
    </div>

  </div>
</div>