<div class="engr-jumbotron engr-jumbotron-calendar">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>Events Calendar</h1>
        <p>
          All events hosted by engineering student organizations.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="engr-calendar">
  <div class="container">
    <div class="row">
      <iframe src="https://www.google.com/calendar/embed?height=600&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=acmbruins%40gmail.com&amp;color=%238D6F47&amp;src=cgioo6i0pkrmefl8phbbd8cplk%40group.calendar.google.com&amp;color=%23691426&amp;src=ewbucla%40gmail.com&amp;color=%238C500B&amp;src=esuc.webmaster%40gmail.com&amp;color=%2328754E&amp;src=ucla.thetatau%40gmail.com&amp;color=%23333333&amp;src=m980q306mg3rfvuh7jhm43fr5s%40group.calendar.google.com&amp;color=%232F6309&amp;src=g8gguekdq7snsgr7kugt5rr9vs%40group.calendar.google.com&amp;color=%2323164E&amp;src=j58a7fncih0g88vhvg5ccjcnic%40group.calendar.google.com&amp;color=%232F6309&amp;src=bmesucla%40gmail.com&amp;color=%23AB8B00&amp;src=esuc.secretary%40gmail.com&amp;color=%23865A5A&amp;src=umh1upatck4qihkji9k6ntpc9k%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FLos_Angeles" style=" border-width:0 " width="800" height="600" frameborder="0" scrolling="no" class="center-block"></iframe>
    </div>
  </div>
</div>