<div class="engr-jumbotron engr-jumbotron-list">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <h1>List of groups</h1>
        <p>
          Every engineering student organization across disciplines and activies.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="engr-group-list">
  <div class="container">
    <div class="row">

      <!-- Group filters -->
      <div class="col-md-3">
        <section class="engr-group-list-filter">
          <h5>Filter by Major</h5>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Aerospace / Mechanical</a></li>
            <li><a href="#">Biological</a></li>
            <li><a href="#">Chemical</a></li>
            <li><a href="#">Civil / Environmental</a></li>
            <li><a href="#">Computer Science</a></li>
            <li><a href="#">Computer Science &amp; Engr</a></li>
            <li><a href="#">Electrical</a></li>
            <li><a href="#">Materials</a></li>
          </ul>
        </section>

        <section class="engr-group-list-filter">
          <h5>Filter by Type</h5>
          <ul class="nav nav-pills nav-stacked">
            <li class="active"><a href="#">All</a></li>
            <li><a href="#">Honor Society</a></li>
            <li><a href="#">Project</a></li>
            <li><a href="#">Professional</a></li>
            <li><a href="#">Social</a></li>
            <li><a href="#">Service</a></li>
            <li><a href="#">Greek</a></li>
          </ul>
        </section>
      </div>

      <!-- Table of groups -->
      <div class="col-md-9">
        <table class="table table-hover table-striped table-responsive">
          <thead>
          <tr>
            <th>Organization</th>
            <th>Majors</th>
            <th>Type</th>
          </tr>
          </thead>
          <tbody>
            <% @clubs.each do |c| %>
            <tr>
              <td><%= link_to c.name, show_club_path(c.id) %></td>
              <td>
                <% c.majors.each do |m| %>
                  <%= m.name %><br>
                <% end%>
              </td>
              <td>
                <% c.club_types.each do |t| %>
                  <%= t.name %><br>
                <% end%>
              </td>
            </tr>
            <% end %>
          </tbody>
        </table>
      </div>

    </div>
  </div>
</div>