/*
 * _banner.scss
 * Contains the styles for the hero unit banner as well as the navigation,
 * since the navigation lives inside the banner most of the time
 */

#toolbar {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: $nav-height;
	overflow: hidden;
	z-index: 10;
	border-bottom: 1px solid rgba(255, 255, 255, 0.2);

	nav {
		@include guttered-container;
		@include clearfix;
		position: relative;
		line-height: $nav-height;
		vertical-align: center;
		font-family: $header-font-family;
		font-size: $header-font-size;

		a {
			color: $nav-text-color;
			letter-spacing: 2px;
			text-decoration: none;
			text-transform: uppercase;

			&:hover {
				@include transition(color 0.35s ease-in-out);
				color: $nav-text-hover-color;
			}
		}

		h1 {
			margin-right: 1em;
			display: block;
			float: left;
			font-weight: bold;
		}

		ul {
			display: inline;
		}

		li {
			display: inline;
			margin: 0 0.4em;
			font-size: 0.9em;	

			@include breakpoint($mobile) {
				display: none;
			}
		}

		.nav-opener {
			display: none;  // Display only on mobile
			position: absolute;
			top: 0;
			right: gutter();
			font-size: 2em;

			@include breakpoint($mobile) {
				display: inline;
			}
		}
	}
}

.hero-unit {
	height: $header-height;
	box-sizing: border-box;
	padding-top: $nav-height;
	background-color: $color-main;
	background-position: center;
	background-size: cover;
	color: $color-accent;
	font-size: $header-font-size;

	.inner {
		@include guttered-container;
	}

	h2 {
		font-family: $header-font-family;
		font-size: 2.5em;
		font-weight: 100;
		-webkit-font-smoothing: antialiased;
	}

	p {
		@include span(6);
		margin-top: 1em;
		margin-bottom: 0;

		@include breakpoint($small-desktop) {
			@include span(9);
		}

		@include breakpoint($tablet) {
			@include span(12);
		}

		@include breakpoint($mobile) {
			@include span(12);
		}
	}

	.actions {
		@include span(12);
	}

	.button {
		display: inline-block;
		border-radius: 2px;
		padding: 0.85em 1em;
		margin-right: 1em;
		text-decoration: none;
		color: $color-accent;
		border: 1px solid $color-accent;

		&:hover {
			@include transition(background-color 0.35s ease-in-out);
			background-color: fade-out(mix($color-accent, white), 0.8);
		}

		@include breakpoint($mobile) {
			display: block;
		}
	}

	.button-main {
		@extend .button;
		color: $color-main;
		background-color: $color-accent;
		font-weight: bold;

		&:hover {
			background-color: mix($color-accent, white);
			border-color: mix($color-accent, white);
		}
	}
}

#hero-home {
	height: $header-large-height;
	background-image: url('/images/banners/boat.jpg');

	.inner {
		margin-top: 180px;

		@include breakpoint($mobile) {
			margin-top: 100px;
		}
	}
}