/*
 * _banner.scss
 * Contains the styles for the hero unit banner
 */

.hero-unit {
	//height: $header-height;
	box-sizing: border-box;
	padding-top: $nav-height;
	background-color: $color-main;
	background-position: center;
	background-size: cover;
	color: $color-accent;
	font-size: $header-font-size;
	-webkit-font-smoothing: antialiased;

	.inner {
		@include guttered-container;
		padding-top: 50px;
		padding-bottom: 50px;
	}

	h2 {
		font-family: $header-font-family;
		font-size: 2.5em;
		font-weight: 300;
		letter-spacing: 0.02em;

		@include breakpoint($mobile) {
			font-size: 2em;
		}
	}

	p {
		@include span(6);
		margin-top: 1em;
		margin-bottom: 0;

		@include breakpoint($small-desktop) {
			@include span(9);
		}

		@include breakpoint($tablet) {
			@include span(12);
		}

		@include breakpoint($mobile) {
			@include span(12);
		}
	}

	.actions {
		@include span(12);
	}

	.button {
		display: inline-block;
		border-radius: 2px;
		padding: 0.85em 1em;
		margin-right: 1em;
		text-decoration: none;
		color: $color-accent;
		border: 1px solid $color-accent;

		&:hover {
			@include transition(background-color 0.35s ease-in-out);
			background-color: fade-out(mix($color-accent, white), 0.8);
		}

		@include breakpoint($mobile) {
			display: block;
		}
	}

	.button-main {
		@extend .button;
		color: $color-main;
		background-color: $color-accent;
		font-weight: bold;

		&:hover {
			background-color: mix($color-accent, white);
			border-color: mix($color-accent, white);
		}
	}
}

#hero-home {
	//height: $header-large-height;
	background-image: url('../images/banners/boat.jpg');

	.inner {
		padding-top: 180px;
		padding-bottom: 180px;

		@include breakpoint($mobile) {
			padding-top: 100px;
		}
	}
}

#hero-list {
	background-image: url('../images/banners/aiaa.jpg')
}