#list {
	@include padded-container;

	.filters {
		@include span(3);
	}
}

.filters {
	section {
		h3 {
			font-size: 0.8em;
			text-transform: uppercase;
			color: $color-light;
			letter-spacing: 0.1em;
		}

		ul {
			margin-top: 1em;
			margin-bottom: 2em;

			li {

				a {
					font-weight: normal;
					color: $color-text;

					&:hover {
						color: $color-main;
					}

					&.active {
						font-weight: bold;
						color: $color-main;
					}
				}

			}
		}
	}
}