$susy: (
	columns: 12,
	gutters: 1/3,
	gutter-position: after,
	global-box-sizing: border-box,
	container: 1200px,
	container-position: center
);

// Breakpoints
$desktop: 960px;
$small-desktop: 768px 960px;
$tablet: 480px 768px;
$mobile: max-width 480px;

// Typography
$base-font-family: "Helvetica Neue", sans-serif;
$base-font-size: 16px;
$base-line-height: 1.5em;
$header-font-family: "oceania", sans-serif;

// Colors
$color-main: #1b5d9e;
$color-accent: #eae848;
$color-text: #2d2f31;
$color-footer-background: #262728;
$color-light: #8c8c88;

// Navigation and header
$nav-text-color: white;
$nav-text-hover-color: $color-accent;
$nav-height: 60px;
$header-font-size: 18px;
$header-large-height: 650px;
$header-height: 280px;
