/* line 5, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.0.alpha.17/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 11, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_box-sizing.scss */
*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, ../sass/partials/_typography.scss */
body {
  font: 16px "Helvetica Neue", sans-serif;
  color: #414447;
  line-height: 1.5em;
}

/* line 12, ../sass/partials/_typography.scss */
a {
  color: #1b5d9e;
  text-decoration: none;
}

/* line 17, ../sass/partials/_typography.scss */
strong {
  font-weight: bold;
}

/* line 21, ../sass/partials/_typography.scss */
h3 {
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  color: #1b5d9e;
  font-size: 1.15em;
  font-weight: bold;
}

/*
 * _toolbar.scss
 * The styles for the navigation bar on top
 */
/* line 6, ../sass/partials/_toolbar.scss */
#toolbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  height: 60px;
  z-index: 10;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* line 16, ../sass/partials/_toolbar.scss */
#toolbar nav {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  overflow: hidden;
  *zoom: 1;
  font-family: "Roboto Condensed", sans-serif;
  -webkit-font-smoothing: antialiased;
  position: relative;
  line-height: 60px;
  height: 60px;
  vertical-align: center;
  font-size: 18px;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/output/support/_clearfix.scss */
#toolbar nav::after {
  content: " ";
  display: block;
  clear: both;
}
/* line 26, ../sass/partials/_toolbar.scss */
#toolbar nav a {
  color: white;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
}
/* line 32, ../sass/partials/_toolbar.scss */
#toolbar nav a:hover {
  -moz-transition: color 0.35s ease-in-out;
  -o-transition: color 0.35s ease-in-out;
  -webkit-transition: color 0.35s ease-in-out;
  transition: color 0.35s ease-in-out;
  color: #eae848;
}
/* line 38, ../sass/partials/_toolbar.scss */
#toolbar nav h1 {
  margin-right: 1em;
  display: block;
  float: left;
  font-family: "Syncopate", sans-serif;
  font-size: 1.15em;
}
/* line 46, ../sass/partials/_toolbar.scss */
#toolbar nav ul {
  font-size: 0.9em;
  text-align: right;
  height: 60px;
  line-height: 60px;
  vertical-align: center;
}
/* line 54, ../sass/partials/_toolbar.scss */
#toolbar nav li {
  display: inline;
  margin: 0 0.4em;
}
/* line 58, ../sass/partials/_toolbar.scss */
#toolbar nav li.active a {
  color: #eae848;
  border-bottom: 1px solid #eae848;
}
@media (max-width: 480px) {
  /* line 54, ../sass/partials/_toolbar.scss */
  #toolbar nav li {
    display: none;
  }
}
/* line 68, ../sass/partials/_toolbar.scss */
#toolbar nav .nav-opener {
  display: none;
  position: absolute;
  top: 0;
  right: 10px;
  font-size: 2em;
}
@media (max-width: 480px) {
  /* line 68, ../sass/partials/_toolbar.scss */
  #toolbar nav .nav-opener {
    display: inline;
  }
}

/*
 * _banner.scss
 * Contains the styles for the hero unit banner
 */
/* line 6, ../sass/partials/_hero-unit.scss */
.hero-unit {
  box-sizing: border-box;
  padding-top: 60px;
  background-color: #1b5d9e;
  background-position: center;
  background-size: cover;
  color: #eae848;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
}
/* line 17, ../sass/partials/_hero-unit.scss */
.hero-unit .inner {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/output/support/_clearfix.scss */
.hero-unit .inner::after {
  content: " ";
  display: block;
  clear: both;
}
/* line 23, ../sass/partials/_hero-unit.scss */
.hero-unit h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 2.5em;
  font-weight: 300;
  letter-spacing: 0.02em;
}
@media (max-width: 480px) {
  /* line 23, ../sass/partials/_hero-unit.scss */
  .hero-unit h2 {
    font-size: 2em;
  }
}
/* line 34, ../sass/partials/_hero-unit.scss */
.hero-unit p {
  width: 48.93617%;
  float: left;
  margin-right: 2.12766%;
  margin-top: 1em;
  margin-bottom: 0;
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 34, ../sass/partials/_hero-unit.scss */
  .hero-unit p {
    width: 74.46809%;
    float: left;
    margin-right: 2.12766%;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 34, ../sass/partials/_hero-unit.scss */
  .hero-unit p {
    width: 100%;
    float: left;
  }
}
@media (max-width: 480px) {
  /* line 34, ../sass/partials/_hero-unit.scss */
  .hero-unit p {
    width: 100%;
    float: left;
  }
}
/* line 52, ../sass/partials/_hero-unit.scss */
.hero-unit .actions {
  width: 100%;
  float: left;
}
/* line 56, ../sass/partials/_hero-unit.scss */
.hero-unit .button, .hero-unit .button-main {
  display: inline-block;
  border-radius: 2px;
  padding: 0.85em 1em;
  margin-right: 1em;
  text-decoration: none;
  color: #eae848;
  border: 1px solid #eae848;
}
/* line 65, ../sass/partials/_hero-unit.scss */
.hero-unit .button:hover, .hero-unit .button-main:hover {
  -moz-transition: background-color 0.35s ease-in-out;
  -o-transition: background-color 0.35s ease-in-out;
  -webkit-transition: background-color 0.35s ease-in-out;
  transition: background-color 0.35s ease-in-out;
  background-color: rgba(244, 243, 163, 0.2);
}
@media (max-width: 480px) {
  /* line 56, ../sass/partials/_hero-unit.scss */
  .hero-unit .button, .hero-unit .button-main {
    display: block;
  }
}
/* line 75, ../sass/partials/_hero-unit.scss */
.hero-unit .button-main {
  color: #1b5d9e;
  background-color: #eae848;
  font-weight: bold;
}
/* line 81, ../sass/partials/_hero-unit.scss */
.hero-unit .button-main:hover {
  background-color: #f4f3a3;
  border-color: #f4f3a3;
}

/* line 88, ../sass/partials/_hero-unit.scss */
#hero-home {
  background-image: url("../images/banners/boat.jpg");
}
/* line 92, ../sass/partials/_hero-unit.scss */
#hero-home .inner {
  padding-top: 180px;
  padding-bottom: 180px;
}
@media (max-width: 480px) {
  /* line 92, ../sass/partials/_hero-unit.scss */
  #hero-home .inner {
    padding-top: 100px;
  }
}

/* line 102, ../sass/partials/_hero-unit.scss */
#hero-list {
  background-image: url("../images/banners/aiaa.jpg");
}

/* line 1, ../sass/partials/_footer.scss */
#footer {
  color: #8c8c88;
  background-color: #262728;
  width: 100%;
  padding-top: 2.12766%;
  padding-bottom: 2.12766%;
  -webkit-font-smoothing: anti-aliased;
  text-align: center;
  font-size: 0.75em;
}
/* line 11, ../sass/partials/_footer.scss */
#footer h3 {
  color: #8c8c88;
  text-transform: uppercase;
  line-height: 2em;
}
/* line 17, ../sass/partials/_footer.scss */
#footer p {
  line-height: 2em;
}
/* line 21, ../sass/partials/_footer.scss */
#footer a {
  color: #8c8c88;
}

/*
 * _blurbs.scss
 * Contains the styles for responsive 3-per-row blurbs with icons.
 * On tablet devices, it's 2-per-row. On mobile devices, it's 1-per-row.
 */
/* line 7, ../sass/partials/_blurbs.scss */
#blurbs {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/output/support/_clearfix.scss */
#blurbs::after {
  content: " ";
  display: block;
  clear: both;
}
/* line 10, ../sass/partials/_blurbs.scss */
#blurbs article {
  margin-top: 2.12766%;
  margin-bottom: 2.12766%;
}
@media (min-width: 960px) {
  /* line 10, ../sass/partials/_blurbs.scss */
  #blurbs article {
    width: 31.91489%;
    float: left;
  }
  /* line 63, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_gallery.scss */
  #blurbs article:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 63, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_gallery.scss */
  #blurbs article:nth-child(3n + 2) {
    margin-left: 34.04255%;
    margin-right: -100%;
    clear: none;
  }
  /* line 63, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_gallery.scss */
  #blurbs article:nth-child(3n + 3) {
    margin-left: 68.08511%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 768px) and (max-width: 960px) {
  /* line 10, ../sass/partials/_blurbs.scss */
  #blurbs article {
    width: 31.91489%;
    float: left;
  }
  /* line 63, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_gallery.scss */
  #blurbs article:nth-child(3n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 63, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_gallery.scss */
  #blurbs article:nth-child(3n + 2) {
    margin-left: 34.04255%;
    margin-right: -100%;
    clear: none;
  }
  /* line 63, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_gallery.scss */
  #blurbs article:nth-child(3n + 3) {
    margin-left: 68.08511%;
    margin-right: -100%;
    clear: none;
  }
}
@media (min-width: 480px) and (max-width: 768px) {
  /* line 10, ../sass/partials/_blurbs.scss */
  #blurbs article {
    width: 48.93617%;
    float: left;
  }
  /* line 63, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_gallery.scss */
  #blurbs article:nth-child(2n + 1) {
    margin-left: 0;
    margin-right: -100%;
    clear: both;
    margin-left: 0;
  }
  /* line 63, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/language/susy/_gallery.scss */
  #blurbs article:nth-child(2n + 2) {
    margin-left: 51.06383%;
    margin-right: -100%;
    clear: none;
  }
}
@media (max-width: 480px) {
  /* line 10, ../sass/partials/_blurbs.scss */
  #blurbs article {
    width: 100%;
    float: left;
  }
}
/* line 30, ../sass/partials/_blurbs.scss */
#blurbs article .icon {
  width: 50px;
  float: left;
  color: #1b5d9e;
  font-size: 3em;
  text-align: center;
}
/* line 38, ../sass/partials/_blurbs.scss */
#blurbs article h3 {
  margin-left: 50px;
  padding-left: 5px;
}
/* line 43, ../sass/partials/_blurbs.scss */
#blurbs article p {
  margin-top: 0.5em;
  margin-left: 50px;
  padding-left: 5px;
}

/* line 1, ../sass/partials/_list.scss */
#list {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 50px;
  padding-bottom: 50px;
}
/* line 12, ../../../../../../../../Library/Ruby/Gems/2.0.0/gems/susy-2.0.0.rc.2/sass/susy/output/support/_clearfix.scss */
#list::after {
  content: " ";
  display: block;
  clear: both;
}
/* line 4, ../sass/partials/_list.scss */
#list .filters {
  width: 23.40426%;
  float: left;
  margin-right: 2.12766%;
}

/* line 11, ../sass/partials/_list.scss */
.filters section h3 {
  font-size: 0.85em;
  text-transform: uppercase;
  color: #8c8c88;
  letter-spacing: 0.1em;
}
/* line 18, ../sass/partials/_list.scss */
.filters section ul {
  margin-top: 1em;
  margin-bottom: 2em;
}
/* line 24, ../sass/partials/_list.scss */
.filters section ul li a {
  font-weight: normal;
  color: #414447;
}
/* line 28, ../sass/partials/_list.scss */
.filters section ul li a:hover {
  color: #1b5d9e;
}
/* line 32, ../sass/partials/_list.scss */
.filters section ul li a.active {
  font-weight: bold;
  color: #1b5d9e;
}
