@import 'reset.styl'
@import 'grid.styl'
@import 'variables.styl'

*
	box-sizing border-box

container(side-padding = 0)
	max-width grid-max-width
	padding-left side-padding + gutter-width
	padding-right side-padding + gutter-width
	margin-left auto
	margin-right auto

	@media mobile
		padding-left (gutter-width / 2)
		padding-right (gutter-width / 2)

	@media tablet
		padding-left (gutter-width / 2)
		padding-right (gutter-width / 2)

body
	font font-size font-family
	line-height 1.25em
	color color-text

p
	margin  0.5em 0

// These break classes allow for a tabularish layout

@import 'blurbs.styl'
@import 'banner.styl'
