<footer class="engr-footer">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h4>Club on!</h4>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p>
          If you'd like to contribute, please contact <a href="#">Shannon Tan</a>
        </p>
        <% if session['current_user_id'] == nil %>
          <%= link_to 'Login for Site Administration', login_path %>
        <% end %>
      </div>
      <div class="col-md-6 text-right">
        <p>
          Made by <a href="#">Shannon Tan</a> • Designed by <a href="#">Steven La</a>
        </p>
      </div>
    </div>
  </div>
</footer>