<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width">
<link rel="icon" href="assets/favicon.ico" type="image/x-icon">
<title>UCLA Engineering Organizations</title>
<link href='http://fonts.googleapis.com/css?family=Syncopate|Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
<%= stylesheet_link_tag    'styles', media: 'all', 'data-turbolinks-track' => true %>
<%= javascript_include_tag 'application' %>
<%= csrf_meta_tags %>